body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  text-align: justify;
  test-align: center;
  align-items: flex-start;
  height: 69px;
}

.logo {
  height: 50px;
  left: 10px;
}

.nav {
  text-decoration: underline;
}

.mission {
  background-image: url("../resources/img-mission-background.jpg");
  height: 700px;
}

.mission.statement {
  background-color: black;
  width: 1200px;
}

.locations {
  background-image: url("../resources/img-locations-background.jpg");
}

.spots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
}

.downtown,
.eastbayside,
.oakdale {
  background-color: black;
  width: 300px
}


.copyright {
  text-align: left;
}
